@media only screen and (max-width:787px) {
    p {
        margin-bottom: -30px;
    }

    #logo {
        margin-left: 60px;
        height: 150px;
        width: 190px;
        margin-bottom: -6px;
    }

    .header {
        position: relative;
        height: 390px;
    }

    .topo {
        text-align: center;
    }

    .topo ul li {
        margin: 0;
    }
    .topo ul {
        margin: 0;
        text-align: center;
    }

    .topo ul li a {
        margin: 30px;
        display: block;
        float: left;
        border: 2px solid #f5de0ace;
        width: 200px;
        padding: 10px;
        border-radius: 30px;
        margin-bottom: -13px;
        font-size: 16px;
        text-align: center;
    }

    .banner h1 {
        font-size: 55px;
        margin-top: 145px;
    }

    .banner a {
        font-size: 17px;
    }

    footer h3{
        margin-top: 6px;
        line-height: 20px;
    }

    #slide-p2 {
        font-size: 15px;
        line-height: 24px;
    }
}